# Example usage

To use `features_creator` in a project:

# TODO: write me

In [ ]:
import features_creator

print(features_creator.__version__)

In [9]:
import pandas as pd

# TODO: make better numbers
example_data = pd.DataFrame({
        "week_payment1": [1, 2, 3],
        "week_payment2": [4, 5, 6],
        "week_payment3": [7, 8, 9],
        "week_payment4": [10, 11, 12],
        "week_payment5": [13, 14, 15],
        "othercolumn": [5, 6, 7],
        "week_payment_string6": [5, 6, 7]
    })

example_data

,week_payment1,week_payment2,week_payment3,week_payment4,week_payment5,othercolumn,week_payment_string4
0,1,4,7,10,13,5,5
1,2,5,8,11,14,6,6
2,3,6,9,12,15,7,7

In [10]:
from features_creator.features_creator import get_matching_column_names

get_matching_column_names(example_data, "week_payment")

['week_payment1',
 'week_payment2',
 'week_payment3',
 'week_payment4',
 'week_payment5']

In [11]:
from features_creator.features_creator import calculate_average

calculate_average(example_data, "week_payment")

array([7., 8., 9.])

In [12]:
from features_creator.features_creator import calculate_standard_deviation

calculate_standard_deviation(example_data, "week_payment")

   week_payment_std
0              18.0
1              18.0
2              18.0

In [13]:
from features_creator.features_creator import calculate_percentage_change

calculate_percentage_change(example_data, "week_payment", compare_period=(1,1))

array([-75., -60., -50.])

In [14]:
calculate_percentage_change(example_data, "week_payment", compare_period=(2,2))

array([-70.58823529, -63.15789474, -57.14285714])

In [15]:
calculate_percentage_change(example_data, "week_payment", compare_period=(2,1))

array([-64.28571429, -56.25      , -50.        ])